<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  {{insert style.html}}
  {{isdef title}} <title>{{fill title}}</title>  {{end}}
  <!-- Twitter -->
  <meta property="twitter:card" content="summary">
  <meta property="twitter:creator" content="sethaxen">
  {{isdef title}}
  <meta property="twitter:title" content="{{fill title}}">{{end}}
  {{isdef description}}
  <meta property="twitter:description" content="{{fill description}}">{{end}}
  {{isdef image}}
  <meta property="twitter:image" content="{{fill image}}">{{end}}
</head>
<body>
{{insert sidebar.html}}

<!-- Content appended here -->
